@media screen and (max-width: 1509px) {
  * {
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  /* presentation section style */
  .container {
    background-image: url("../img/backgroundMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1240px;
    text-align: center;
    color: white;
  }
  .rightContainer {
    margin-left: 25px;
  }
  .container p {
    margin-left: 5px;
    margin-right: 5px;
  }
  /* TO DO -> header responsif */
  .logo {
    width: 100px;
  }
  .menu {
    padding-top: 0px;
  }
  .dropdown {
    margin-top: 0px;
  }
  /* Media Queries
--------------------------------------------- */

  @media all and (max-width: 768px) {
    #logo {
      display: block;
      padding: 0;
      width: 100%;
      text-align: center;
      float: none;
    }

    nav {
      margin: 0;
      position: relative;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
      display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
      display: block;
      background-color: #033644;
      padding: 14px 20px;
      color: #fff;
      font-size: 17px;
      text-decoration: none;
      border: none;
    }

    .toggle:hover {
      background-color: #f47141;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^="drop"]:checked + ul {
      display: block;
    }

    /* Change menu item's width to 100% */
    nav ul li {
      display: block;
      width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
      padding: 0 40px;
    }

    nav ul ul ul a {
      padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
      border-radius: 8px;
      background-color: #f47141;
      transition: 0.6s ease;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
      padding: 14px 20px;
      color: #fff;
      font-size: 17px;
    }

    nav ul li ul li .toggle,
    nav ul ul a {
      background-color: #033644;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
      float: none;
      position: static;
      color: #ffffff;
      /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
      display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
      display: block;
      width: 100%;
    }

    nav ul ul ul li {
      position: static;
      /* has to be the same number as the "width" of "nav ul ul li" */
    }
  }

  @media all and (max-width: 330px) {
    nav ul li {
      display: block;
      width: 94%;
    }
  }
  #formulas {
    padding-top: 60px;
  }
  #one {
    display: none;
  }
  .formulasTitle {
    padding-bottom: 20px;
  }
  .formulasContainer {
    height: 950px;
  }
  .card {
    width: 370px;
    height: 740px;
    margin-bottom: 0px;
  }
  .card h1 {
    margin-top: 2px;
  }
  .card h3 {
    margin-top: 0px;
  }
  .formulasContainer h2 {
    margin-bottom: 5px;
  }
  .prev {
    margin-right: 310px;
    margin-top: 100px;
    width: 30px;
    height: 30px;
  }
  .next {
    margin-left: 310px;
    margin-top: 100px;
    width: 30px;
    height: 30px;
  }
  /* exploration */
  .explorationFormulasContainer {
    background-color: white;
    height: 1400px;
  }
  .boxContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .leftBoxContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .box1 {
    width: 370px;
    height: 330px;
    align-self: center;
  }
  .box2 {
    width: 370px;
    height: 100px;
    align-self: center;
  }
  .box2B {
    width: 370px;
    height: 150px;
    align-self: center;
  }
  .box3 {
    width: 370px;
    margin-left: 0px;
    align-self: center;
  }
  /* activity */
  .activityContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 1300px;
  }
  .activityTitle {
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    margin-left: 38px;
    color: white;
    margin-top: 60px;
  }
  .activityImg {
    width: 350px;
    height: 320px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    order: 1;
  }
  .activityLeftContainer {
    margin-top: 0px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    order: 2;
  }
  /* about */
  #about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 1300px;
  }
  .aboutImgContainer {
    order: 2;
    margin-top: 50px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutRightContainer {
    order: 1;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .socialNetworContainer {
    margin-left: 10px;
    margin-right: 10px;
  }
  .socialNetworText {
    font-size: 13px;
  }
  .line {
    width: 200px;
    height: 1px;
  }
  /* --- */
  .reviewsContainer {
    height: 1300px;
  }
  .reviewsContainer h1 {
    margin-top: 80px;
  }
  .boxWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .reviewsBox {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .quotationMarkLeft {
    margin-right: 330px;
  }
  /* --- */
  #fname,
  #lname,
  #email,
  #tel,
  #choice,
  #mess {
    width: 370px;
    text-align: left;
  }
  .option {
    width: 370px;
    text-align: left;
  }
  /* contacts */
  .contactsContainer {
    height: 1600px;
  }
  .contactsRightContainer {
    height: 560px;
  }
  .wrappedContainer {
    display: flex;
    flex-direction: column;
  }
  .contactsLeftContainer {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .contactsRightContainer {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .rightContactsTitle {
    text-align: left;
  }
  .rightContactsText {
    text-align: left;
  }
  iframe {
    margin-right: 2000px;
  }
  .map {
    align-self: flex-start;
    width: 280px;
  }
  /* footer */
  .footerContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footerLeftContainer {
    margin-top: 10px;
    align-self: center;
  }
  .footerMidContainer {
    margin-top: 0px;
    /* align-self: center; */
    display: flex;
    justify-content: space-around;
  }
  .footerMidContainer p {
    margin-top: 10px;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 10px;
  }
  .footerRightText {
    margin-top: 10px;
    align-self: center;
  }
}
@media screen and (min-width: 1400px) {
  #two {
    display: none;
  }
}
